@model InveonWebUI.Models.ProductViewModel

@{
    ViewData["Title"] = "AddProduct";
}

<h1>AddProduct</h1>

<h4>ProductViewModel</h4>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddProduct" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>-->
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductBarcode" class="control-label"></label>
                    <input asp-for="ProductBarcode" class="form-control" />
                    <span asp-validation-for="ProductBarcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductImageUrl" class="control-label"></label>
                    <input asp-for="ProductImageUrl" class="form-control" />
                    <span asp-validation-for="ProductImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductPrice" class="control-label"></label>
                    <input asp-for="ProductPrice" class="form-control" />
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductUnit" class="control-label"></label>
                    <input asp-for="ProductUnit" class="form-control" />
                    <span asp-validation-for="ProductUnit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductPhoto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="ProductPhoto" type="file" class="custom-file-input" id="customFile" lang="tr">
                        <label class="custom-file-label" for="ProductImageUrl">Dosya Seç</label>
                    </div>
                    <span asp-validation-for="ProductPhoto" class="text-danger"></span>
                </div>
               <!-- <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ProductIsActive" /> @Html.DisplayNameFor(model => model.ProductIsActive)
                    </label>
                </div>-->
                <div class="form-group">
                    <input type="submit" asp-action="Save" asp-controller="Home" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

